.nav ul {
  display: flex;
  list-style: none; 
  gap: 1rem; 
}

li {
  display: flex;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}

.nav li.active {
  color: #ed7966;
}

.nav li:hover {
  color: #ed7966;
}



